.circle-image {
    display: inline-block;
    border-radius: 50%;
    word-break: hidden;
    width: 50 px;
    height: 50px;
  }
  .circle-image img {
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .circle-image {
    width: 50 px;
    height: 50px;
    background-image: url ('sua-imagem.jpg');
    background: cover;
    display: block;
    border-radius: 50%;
  }

img {
    border: blue;
}

body {
    color: gray
}
#image_b {
    text-align: center;
    border: black;
    margin: 0 auto;
    height: 100px;
}