.circle-image {
  border-radius: 50%;
  border: 10px;
  border-style:solid;
  border-color: rgb(56, 54, 54);
  text-align: center;
  margin: 25px auto;
  margin-left: 50px;
}

body {
  color: gray;
  background-color: gray;
  text-align: center;
}